*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-family: 'Montserrat', sans-serif

body
  overflow-x: hidden

button
  background: none
  border: none
  color: white
  margin-left: 10px
  cursor: pointer

li
  list-style: none


.flex
  display: flex
  align-items: center

.right
  text-align: right

a
  text-decoration: none

.hide
  display: none

.btncurve
  border-top-right-radius: 30px
  border-bottom-right-radius: 30px
  border-top-left-radius: 30px








.my-page-enter-active,.my-page-leave-active
  transition: opacity 0.5s

.my-page-enter,.my-page-leave-to
  opacity: 0










.mobilenav-enter-active,.mobilenav-leave-active
  transition: 0.4s

.mobilenav-enter,.mobilenav-leave-to
  opacity: 0
  transform: translateY(-180px)


.fade-enter-active,.fade-leave-active
  transition: opacity 0.25s

.fade-enter,.fade-leave-to
  opacity: 0

